
.NavBar{
  display: flex;
  justify-content: flex-end;
}
.Title{
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
  color: antiquewhite;
}
.story{
  color: antiquewhite;
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-shadow: black;
}
.start{
  display: flex;
  justify-content: center;
  padding-top: 5px;
  text-decoration: none;
  
}
.next{
  display: flex;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
}
.words{
  color: antiquewhite
}